
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -----------------Tabela ---------------------*/
.tabela{
    background-color: rgb(95, 95, 95);
    padding-top: 11vh;
    padding-left: 60vh;
    width: 100%;
    height: 480px;
}
table{
    width: 720px;
    border: 1px solid black;
    border-collapse: collapse;
}
caption{
    background-color: rgb(255, 251, 0) ;
    color: rgb(36, 36, 36);
}
td{
    border: 1px solid #111;
    padding: 7px;
}
thead{
    background-color: rgb(255, 251, 0);
    color: rgb(20, 20, 20);
}
.row1{
    background-color:rgb(253, 247, 120) ;
}
.row2{
    background-color:rgb(253, 255, 140) ;
}
.row3{
    background-color:rgb(243, 241, 135) ;
}
.row4{
    background-color:rgb(241, 243, 119) ;
}
.row5{
    background-color:rgb(252, 238, 112) ;
}
.row6{
    background-color:rgb(255, 242, 59) ;
}
.row7{
    background-color:rgb(253, 255, 114) ;
}
td:hover{
    background-color: rgb(255, 115, 0);
    color: #fff;
}
.row1 :first-child:hover{
    background-color:rgb(253, 247, 120) ;
    color: #111;
}
.row2 :first-child:hover{
    background-color:rgb(253, 255, 140) ;
    color: #111;
}
.row3 :first-child:hover{
    background-color:rgb(243, 241, 135) ;
    color: #111;
}
.row4 :first-child:hover{
    background-color:rgb(241, 243, 119) ;
    color: #111;
}
.row5 :first-child:hover{
    background-color:rgb(252, 238, 112) ;
    color: #111;
}
.row6 :first-child:hover{
    background-color:rgb(255, 242, 59) ;
    color: #111;
}
.row7 :first-child:hover{
    background-color:rgb(253, 255, 114) ;
    color: #111;
}

/* ---------------Workouts -------------------*/


.chest{
    background: url(/images/chest.jpg);
    background-position: center;
    border: 1px solid black;
    border-radius: 12px;
    background-size: cover;
    margin-top: 5vh;
    min-width: 380px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.backsite{
    background: url(/images/back.jpg);
    background-position: center;
    border: 1px solid black;
    border-radius: 12px;
    background-size: cover;
    margin-top: 5vh;
    min-width: 380px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.trieceps{
    background: url(/images/triceps.jpg);
    background-position: center;
    border: 1px solid black;
    border-radius: 12px;
    background-size: cover;
    margin-top: 5vh;
    min-width: 380px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.biceps{
    background: url(/images/biceps.jpg);
    background-position: center;
    border: 1px solid black;
    border-radius: 12px;
    background-size: cover;
    margin-top: 5vh;
    min-width: 380px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.shoulder{
    background: url(/images/shoulder.jpg);
    background-position: center;
    border: 1px solid black;
    border-radius: 12px;
    background-size: cover;
    margin-top: 5vh;
    min-width: 380px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.legs{
    background: url(/images/legs.jpg);
    background-position: center;
    border: 1px solid black;
    border-radius: 12px;
    background-size: cover;
    margin-top: 5vh;
    min-width: 380px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.abs{
    background: url(/images/abs.jpg);
    background-position: center;
    border: 1px solid black;
    border-radius: 12px;
    background-size: cover;
    margin-top: 5vh;
    min-width: 380px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.wourkoutsss{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10vh;
    background-color: rgb(255, 251, 0);
}
button {
    margin-bottom: -2vh;
    font-size: 17px;
    padding: 0.2em 0.7em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.705);
    background: rgb(248, 234, 39);
    color: rgb(0, 0, 0);
    border-radius: 4px;
    
   }
   
   button:hover {
    background: rgb(255, 8, 0);
    background: linear-gradient(90deg, rgb(231, 243, 68) 0%, rgb(255, 153, 0) 100%);
   }
   
   button:active {
    transform: translate(0em, 0.2em);
   }


